In [1]:
import pandas as pd

# Idea

Topic: Parkinson's disease

- find GEO dataset with differential gene expression data 
- find chemicals that interact with the genes involved
- connect chemical data to ChEMBL

# Databases 

- [Gene Expression Omnibus (GEO)](https://www.ncbi.nlm.nih.gov/geo/)
- [Comparative Toxicogenomics Database (CTD)](http://ctdbase.org/) 
- [ChEMBL](https://www.ebi.ac.uk/chembl/)

## GEO

In [4]:
df_geo = pd.read_csv('GSE135150.top.table.tsv', sep='\t', index_col='ID')
df_geo.head()

,adj.P.Val,P.Value,t,B,logFC,GB_ACC,SEQUENCE
ID,,,,,,,
A_23_P97700,0.000026,4.450000e-10,-33.622910,10.92450,-4.150392,NM_006472,TCCACCCTTTTCTGAGAGTTATTACAGCCAGAAAGTGTGGGCTGAA...
A_33_P3242623,0.000056,2.640000e-09,27.018203,10.17078,3.456385,NM_014331,GAAGTAAGTGTGTTTGTTTTCATCTTATGGAAACTCTTGATGCATG...
A_33_P3345309,0.000056,3.110000e-09,26.472367,10.09009,4.256690,NM_001195129,CCGTGTCTTCCCAGGTTTACAATCAGAGAATCACAGCTGCTTTAAT...
A_32_P155666,0.000056,3.800000e-09,25.827232,9.99014,3.331020,NM_004826,CCGTCTCTATGACAACTTCACTGTCTACAACCAGCGGGTGAACGGG...
A_22_P00018594,0.000138,1.190000e-08,-22.441332,9.37042,-2.423203,NaN,TAGAGGTCTTCTCCAAACATTTGCATTGTTTCTTTTTCTTAGGATC...

## CTD  
CTD overview | Chosen table from CTD | interactions
------------- | -------------------- | -------------
<img src="ctd_overview.png" width="150"> | <img src="ctd_table.png" width="150"> | <img src="ctd_interactions.png" width="150">

## ChEMBL 

- connect the chemicals from CTD to compounds in ChEMBL